<html lang='en'>
   <head>
      <meta charset='UTF-8' />
      <meta http-equiv='X-UA-Compatible' content='IE=edge' />
      <meta name='viewport' content='width=device-width, initial-scale=1.0' />
      <title>Colleges Sansar</title>
      <link rel='stylesheet' href='css/login.css' />
      <link rel='preconnect' href='https://fonts.googleapis.com' />
      <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />

      <!-- CSS only -->

      <link
         href='https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:ital,wght@0,200;0,300;1,300&display=swap'
         rel='stylesheet'
      />
      <script src='https://kit.fontawesome.com/0e01e4ad2c.js' crossorigin='anonymous'></script>
   </head>
   <body>
      <header>
         <nav>
            <a href='/'><img src='assets/logo.png' alt='logo' /></a>
            <div class='nav-links'>
               <ul>
                  <li><a href='/college'>College</a></li>
                  <li><a href='/career'>Careers</a></li>
                  <li><a href='/Exam'>Exams</a></li>
                  <li><a href='#'>Blog</a></li>
                  <li><a href='#'>About</a></li>
                  <li class='btn' id='log'><a href='/Register'>Register</a></li>
               </ul>
            </div>
         </nav>
      </header>
      <div class='main-container'>
         <div class='logIn'>
            <h2>Log in to College Sansar</h2>
            {{#if loginFailed}}
               <div style='padding:10px 16px; width: 50%; margin: 10px 0; background-color: rgba(255, 0, 0, 0.4)'>
                  {{failMessage}}
               </div>
            {{/if}}

            <div class='LogIn form'>
               <form action='/auth/login' class='sign-in-form' method='POST'>

                  <div class='tf Email'>
                     <input type='text' name='email' id='email' required placeholder='Email' />
                  </div>
                  <div class='tf password'>
                     <input type='password' name='password' id='password' required placeholder='Password' />
                  </div>
                  <label for='forgot'>Forgot Password</label>
                  <div class='tf submit'>
                     <button type='submit' class='cta'>Log In</button>
                  </div>
                  <div class='signInText'>
                     <p>Or Sign in With</p>
                  </div>

                  <div class='socialMedia'>
                     <div class='social'>
                        <a href='#'>
                           <i class='fa-brands fa-google'></i>
                        </a>
                     </div>

                     <div class='social'>
                        <a href='#'><i class='fa-brands fa-facebook'></i></a>
                     </div>
                  </div>
               </form>
            </div>
         </div>

         <div class='welcome'>
            <div class='create-container'>

               <pre>
                  <h1>Don't have an account Sign up now.</h1>
               </pre>
               <div class='Create-Now'>
                  <a href='/Register' class='create' id='Sign-Up'>
                     Create Now
                  </a>
               </div>

            </div>
         </div>

      </div>
      <script src='/Client/js/LogIn.js'></script>
   </body>
</html>